* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
}

section{
    background-color: aliceblue;
}

section:nth-of-type(even){
    background-color: red;
}

section#home{
    padding: 200px 300px;
    /*background-color: palegoldenrod;*/
    background-color: rgba(0, 0, 0, 0.63);
    
    /*background-image: url(../img/justin-docanto-611708-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-attachment: fixed;*/
    color: red;
    overflow: hidden;
    position: relative;
}

section#home img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: .5
}